
.drink-popup-container {
    position: absolute;
    background: #fff;
    width: 270px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -135px;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.drink-popup-button {
    position: absolute;
    background: #4848F4;
    top: 50%;
    left: 50%;
    margin-top: 195px;
    margin-left: -95px;
    width: 190px;
    height: 55px;
    border-radius: 56px;
    color: #FFFFFF;
    font-family: GothamPro;
    font-weight: bolder;
    line-height: 29px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.drinkpopup-time-to-water {
    font-family: GothamPro;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
    margin-top: 20px;
    margin-bottom: 25px;
}

.drinkpopup-text-choice-amount {
    font-family: GothamPro;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
    margin-top: 150px;
    margin-bottom: 25px;
}


.drink-cc {
    position: absolute;
    cursor: pointer;

    height: 100px;
    width: 100px;
    box-shadow: 0 4px 40px #F1F2FB;
    border-radius: 24px;

    color: #4E4E61;

    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.drink-text {
    position: absolute;
    font-family: GothamPro;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    font-weight: bolder;
}
/* Все накопировал*/
/* пример можешь глянуть по ссылке http://jsfiddle.net/La8wQ/22/    там понятнее!*/

/* ВЫБОР НАПИТКА*/
.cc-selector-drink input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.cc-selector-drink input:active + .drink-cc {
    opacity: .5;
}

.cc-selector-drink input:checked + .drink-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: #4848F4;
    color: white;

    background-position: center;
    background-image: url("../img/ok.svg");
    background-repeat: no-repeat;
    background-size: 40px 30px;
}

.water {
    background-color: white;
    left: 30px;
    top: 85px;

    background-position: center;
    background-image: url('../img/water.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.text-water {
    left: 31px;
    bottom: 7px;
}

.juice {
    background-color: white;
    left: 145px;
    top: 85px;

    background-position: top 22px left 25px;
    background-image: url('../img/juice.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.text-juice {
    left: 35px;
    bottom: 7px;
}

.tea {
    background-color: white;
    left: 30px;
    top: 195px;

    background-position: top 27px left 33px;
    background-image: url('../img/tea.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.text-tea {
    left: 35px;
    bottom: 7px;
}

.coffee {
    background-color: white;
    left: 145px;
    top: 195px;

    background-position: top 22px left 27px;
    background-image: url('../img/coffee.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.text-coffee {
    left: 31px;
    bottom: 7px;
}

/* ВЫБОР КОЛИЧЕСТВА*/

.amount-cc {
    position: absolute;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    box-shadow: 0px 4px 40px #F1F2FB;
    border-radius: 50%;
    color: #4E4E61;

    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.amount-text {
    position: absolute;
    font-family: GothamPro;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: bolder;
}

.cc-selector-amount input {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-amount input:active + .amount-cc {
    opacity: .5;
}

.cc-selector-amount input:checked + .amount-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: #4848F4;
    color: #4848F4;

    background-position: center top 13px;
    background-image: url("../img/ok.svg");
    background-repeat: no-repeat;
    background-size: 25px 20px;
}

.ml200 {
    background-color: white;
    top: 340px;
    left: 30px;

    background-position: center;
    background-image: url('../img/amount-water.jpg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

.text-200ml {
    left: 2px;
    top: 48px;
}

.ml300 {
    background-color: white;
    top: 340px;
    left: 87px;

    background-position: center;
    background-image: url('../img/300.svg');
    background-repeat: no-repeat;
    background-size: 20px 30px;
}

.text-300ml {
    left: 2px;
    top: 48px;
}

.ml400 {
    background-color: white;
    top: 340px;
    left: 144px;

    background-position: center;
    background-image: url('../img/400.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.text-400ml {
    left: 2px;
    top: 48px;
}

.ml500 {
    background-color: white;
    top: 340px;
    left: 201px;

    background-position: center;
    background-image: url('../img/500.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.text-500ml {
    left: 2px;
    top: 48px;
}


.amount-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}