
.drink-popup-container {
    position: absolute;
    background: #fff;
    width: 270px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -135px;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.drink-popup-button {
    position: absolute;
    background: #4848F4;
    top: 50%;
    left: 50%;
    margin-top: 195px;
    margin-left: -95px;
    width: 190px;
    height: 55px;
    border-radius: 56px;
    color: #FFFFFF;
    font-family: GothamPro;
    font-weight: bolder;
    line-height: 29px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.drinkpopup-time-to-water {
    font-family: GothamPro;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
    margin-top: 20px;
    margin-bottom: 25px;
}

.drinkpopup-choice {
    font-family: Gotham Pro;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
    margin-top: 170px;
    margin-bottom: 25px;
}

/* Все накопировал*/
/* пример можешь глянуть по ссылке http://jsfiddle.net/La8wQ/22/    там понятнее!*/

/* ВЫБОР НАПИТКА*/
.cc-selector-drink input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    position: relative;
}

.cc-selector-drink input:active + .drink-cc {opacity: .5}
.cc-selector-drink input:checked +.drink-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: blue;
}

.white-block-water {
     position: absolute;
     background-color: white;
     height: 100px;
     width: 100px;
     left: 31px;
     bottom: 265px;
     box-shadow: 0px 4px 40px #F1F2FB;
     border-radius: 24px;
 }

.white-block-water:hover {
    background-color: blue;
}

.white-block-juice:hover {
    background-color: blue;
}

.white-block-tea:hover {
    background-color: blue;
}

.white-block-coffee:hover {
    background-color: blue;
}


.white-block-juice {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    left: 142px;
    bottom: 265px;
    box-shadow: 0px 4px 40px #F1F2FB;
    border-radius: 24px;
}

.white-block-tea {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    left: 31px;
    bottom: 156px;
    box-shadow: 0px 4px 40px #F1F2FB;
    border-radius: 24px;
}

.white-block-coffee {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    left: 142px;
    bottom: 156px;
    box-shadow: 0px 4px 40px #F1F2FB;
    border-radius: 24px;
}

.text-water {
     position: absolute;
     font-family: GothamPro;
     font-size: 15px;
     line-height: 18px;
     text-align: center;
     color: #4E4E61;
     left: 31px;
     bottom: 7px;
     font-weight: bolder;
 }

.text-juice {
    position: absolute;
    font-family: GothamPro;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4E4E61;
    left: 35px;
    bottom: 7px;
    font-weight: bolder;
}

.text-tea {
    position: absolute;
    font-family: GothamPro;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4E4E61;
    left: 35px;
    bottom: 7px;
    font-weight: bolder;
}

.text-coffee {
    position: absolute;
    font-family: GothamPro;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4E4E61;
    left: 31px;
    bottom: 7px;
    font-weight: bolder;
}

.water{background-image: url('../img/water.png');}
.juice{background-image: url('../img/juice.svg');}
.tea{background-image: url('../img/tea.svg');}
.coffee{background-image: url('../img/coffee.svg');}

/*.cc-selector-drink input:active +.drink-cc{opacity: 0;}*/
/*.cc-selector-drink input:checked +.drink-cc{*/
    /*-webkit-filter: none;*/
    /*-moz-filter: none;*/
    /*filter: none;*/
/*}*/

.drink-cc {
    /*text-align: center;*/
    position: absolute;
    left: 30px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;
    height:40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;

}

.drink-cc.water {
    bottom: 35px;
}

.drink-cc.juice {
    bottom: 35px;
}

.drink-cc.tea {
    bottom: 35px;
}

.drink-cc.coffee {
    bottom: 35px;
}

.drink-cc:hover{
    /*-webkit-filter: opacity(0);*/
    /*-moz-filter: opacity(0);*/
    /*filter: opacity(0);*/
}

.drink-cc:hover + .text-water {color: white;}
.drink-cc:hover + .text-juice {color: white;}
.drink-cc:hover + .text-tea {color: white;}
.drink-cc:hover + .text-coffee {color: white;}

.water:hover {background-image: url("../img/ok.svg");}
.juice:hover {background-image: url("../img/ok.svg");}
.tea:hover {background-image: url("../img/ok.svg");}
.coffee:hover {background-image: url("../img/ok.svg");}


/* ВЫБОР КОЛИЧЕСТВА*/

.cc-selector-amount input{
    position: relative;
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.ml200{background-image: url('../img/amount-water.jpg');}
.ml300{background-image: url('../img/300.svg');}
.ml400{background-image: url('../img/400.svg');}
.ml500{background-image: url('../img/500.svg');}

.cc-selector-amount input:active +.amount-cc{opacity: .5;}
.cc-selector-amount input:checked +.amount-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;

}

.amount-cc{
    position: absolute;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:70px;height:40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.amount-cc.ml200 {
    left: 40px;
}

.amount-cc.ml300 {
    left: 90px;
}

.amount-cc.ml400 {
    left: 140px;
}

.amount-cc.ml500 {
    left: 190px;
}


.amount-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}