
.drink-popup-container {
    position: absolute;
    background: #fff;
    width: 270px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -245px;
    margin-left: -135px;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.drink-popup-button {
    display: flex;
    justify-content: center;
    background: #4848F4;
    margin-top: 27px;
    width: 190px;
    height: 55px;
    border-radius: 56px;
    color: #FFFFFF;
    font-family: GothamPro;
    font-weight: bolder;
    line-height: 29px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(56, 59, 75, 0.5);
}
.drink-popup-button:active {
    background: #1010db;
}

.drinkpopup-time-to-water {
    font-family: GothamPro;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
    margin-top: 20px;
    margin-bottom: 25px;
}

.drinkpopup-text-choice-amount {
    font-family: GothamPro;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bolder;
    color: #4E4E61;
}

.drink-text {
    margin-top: 72px;
    font-family: GothamPro;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

.block-drink {
    margin: 4px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 40px #F1F2FB;
    border-radius: 24px;
    color: #4E4E61;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 20ms ease-in;
    -moz-transition: all 20ms ease-in;
    transition: all 20ms ease-in;
}
.drinkpopup-select-drink {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block-drink-checked {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: #4848F4;
    color: white;

    background-position: center;
    background-image: url("../img/ok.svg");
    background-repeat: no-repeat;
    background-size: 40px 30px;
}

.water-background {
    background-color: white;
    background-position: center;
    background-image: url('../img/water-drink.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.water-position {
    left: 30px;
    top: 85px;
}
.popup-close {
    right: -6px;
    width: 30px;
    height: 30px;
    background: #4848f4;
    border-radius: 50%;
    content: '+';
    position: absolute;
    top: -6px;
    font-size: 27px;
    transform: rotate(45deg);
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-water {
    left: 31px;
    bottom: 7px;
}

.juice-background {
    background-color: white;
    background-position: top 22px left 25px;
    background-image: url('../img/juice.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.juice-position {
    left: 145px;
    top: 85px;
}

.text-juice {
    left: 35px;
    bottom: 7px;
}

.tea-background {
    background-color: white;
    background-position: top 27px left 33px;
    background-image: url('../img/tea.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.tea-position {
    left: 30px;
    top: 195px;
}

.text-tea {
    left: 35px;
    bottom: 7px;
}

.coffee-background {
    background-color: white;
    background-position: top 22px left 27px;
    background-image: url('../img/coffee.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.coffee-position {
    left: 145px;
    top: 195px;
}

.text-coffee {
    left: 31px;
    bottom: 7px;
}

/* ВЫБОР КОЛИЧЕСТВА*/
.drinkpopup-select-amount {
    display: flex;
    justify-content: center;
}
.block-amount {
    margin: 5px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    box-shadow: 0px 4px 40px #F1F2FB;
    border-radius: 50%;
    color: #4E4E61;

    -webkit-transition: all 20ms ease-in;
    -moz-transition: all 20ms ease-in;
    transition: all 20ms ease-in;
}

.block-amount-checked {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: #4848F4;
    color: #4848F4;

    background-position: center top 13px;
    background-image: url("../img/ok.svg");
    background-repeat: no-repeat;
    background-size: 25px 20px;
}

.amount-text {
    margin-top: 47px;
    font-family: GothamPro;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: bolder;
}

.ml200-background {
    background-color: white;
    background-position: center;
    /*background-image: url('../img/amount-water.jpg');*/
    background-image: url('../img/water-cup.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.ml200-position {
    top: 340px;
    left: 30px;
}

.text-200ml {
    left: 2px;
    top: 48px;
}

.ml300-background {
    background-color: white;
    background-position: center;
    background-image: url('../img/300.svg');
    background-repeat: no-repeat;
    background-size: 20px 30px;
}

.ml300-position {
    top: 340px;
    left: 87px;
}

.text-300ml {
    left: 2px;
    top: 48px;
}

.ml400-background {
    background-color: white;
    background-position: center;
    background-image: url('../img/400.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.ml400-position {
    top: 340px;
    left: 144px;
}

.text-400ml {
    left: 2px;
    top: 48px;
}

.ml500-background {
    background-color: white;
    background-position: center;
    background-image: url('../img/500.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.ml500-position {
    top: 340px;
    left: 201px;
}

.text-500ml {
    left: 2px;
    top: 48px;
}
