.registration-is-complete-container {
    position: absolute;
    background: #FFFFFF;
    width: 320px;
    height: 190px;
    top: 45%;
    left: 50%;
    margin-top: -95px;
    margin-left: -160px;
    cursor: default;
    z-index: 10001;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.registration-is-complete-header {
    line-height: 50px;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin-top: 38px;
    font-family: GothamPro;
    color: #4848F4;
}

.registration-is-complete-content {
    line-height: 36px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    font-family: GothamPro;
    color: #4E4E61;
}

.sub-button {
    /* display: flex; */
    /* margin-top: -34px; */
    text-align: center;
}



.sub-button button {
    background: #fff;
    color: #4848f4;
    box-shadow: none;
    border: none;
    padding: 5px 12px;
    border-radius: 13px;
    font-size: 22px;
    border: 1px solid;
    border-radius: 20px;
}

.subscribe-skip {
    background: none;
    color: #b5b5b5!important;
    font-size: 12px!important;
    border: none!important;
}

.sub-title {
    font-size: 22px;
    line-height: 25px;
}