.well-done-popup-container {
    position: absolute;
    background: #4848F4;
    width: 320px;
    height: 220px;
    top: 45%;
    left: 50%;
    margin-top: -110px;
    margin-left: -160px;
    cursor: default;
    z-index: 10001;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.well-done-popup-h1 {
    line-height: 44px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 35px;
    font-family: GothamPro;
    color: #FFFFFF;
}

.well-done-popup-h2 {
    line-height: 21px;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: GothamPro;
    color: #FFFFFF;
}

.well-done-popup-container div .timer {
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    margin-top: 18px;
    font-family: GothamPro;
    color: #FFFFFF;
}
