.main-body-container {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;

    background: url("../img/info-background-wave1.svg") 100% 0 no-repeat fixed,
    url("../img/info-background-wave2.svg") 100% 0 no-repeat fixed,
    url("../img/info-ellipse-1.svg") 77% 42% no-repeat fixed,
    url("../img/info-ellipse-2.svg") 85% 40% no-repeat fixed,
    url("../img/info-ellipse-3.svg") 74% 39% no-repeat fixed,
    rgba(221, 223, 230, 0.5);

    background-size: 100% 100%, 100% 100%, auto, auto, auto, cover;
    margin: 0;
}

.main-image-info {
    /*margin-left: -60px;*/
    margin-top: 92px;
    width: 30px;
    height: 30px;
    margin-left: 14px;
}

.main-image-settings {
    margin-top: 92px;
    width: 30px;
    height: 30px;
    margin-left: 24px;
}

.container-bottom-blocks {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 23px;
    position: relative;
    left: 50%;
    margin-left: -181px;

}

.container-bottom-blocks div {
    display: inline-block;
    font-size: 10px;
    padding: 20px;
}

.main-user-photo {
    height: 90px;
    width: 90px;
    display: block;
    margin-top: -72px;
    /*margin: 0 auto;*/
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 40px #D9D9FB;
    border-radius: 50%; /* Радиус скругления */
}

.main-addition-first {
    font-family: GothamPro;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #4E4E61;
    margin-top: 5px;
    font-weight: bolder;

}

.main-drop-wave-container {
    position: relative;
    text-align: center;
    width: 190px;
    height: 250px;
    z-index: 1;
    left: 50%;
    margin-left: -95px;
    margin-top: 20px;
}


.main-drop-ell {
    position: absolute;
    top: 68%;
    left: 24%;

    animation: ell 8s linear infinite;
    -webkit-animation: ell 8s linear infinite;
}

@keyframes ell {
    from { top: 68%; left: 24%}
    to {
        top: 30%; left: 30%;
    }
}

.main-drop-ell2 {
    position: absolute;
    top: 72%;
    left: 62%;

    animation: ell2 5s linear infinite;
    -webkit-animation: ell2 5s linear infinite;
}

@keyframes ell2 {
    from { top: 72%; left: 62%}
    to {
        top: 40%; left: 45%;
    }
}

.main-drop-ell3 {
    position: absolute;
    top: 86%;
    left: 53%;

    animation: ell3 7s linear infinite;
    -webkit-animation: ell3 7s linear infinite;
}

@keyframes ell3 {
    from { top: 86%; left: 53%}
    to {
        top: 30%; left: 60%;
    }
}

.main-drop-ell4 {
    position: absolute;
    top: 75%;
    left: 75%;

    animation: ell4 4s linear infinite;
    -webkit-animation: ell4 4s linear infinite;
}

@keyframes ell4 {
    from { top: 75%; left: 75%}
    to {
        top: 30%; left: 60%;
    }
}

.main-drop-ell5 {
    position: absolute;
    top: 78%;
    left: 29%;

    animation: ell5 6s linear infinite;
    -webkit-animation: ell5 6s linear infinite;
}

@keyframes ell5 {
    from { top: 78%; left: 29%}
    to {
        top: 20%; left: 55%;
    }
}

.main-button-water {
    position: absolute;
    width: 63px;
    height: 63px;
    background: white;
    border: 5px solid #FBFBFF;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(197, 206, 238, 0.5);
    border-radius: 50%;
    left: 50%;
    z-index: 2;
    margin-left: -30px;
    top: 425px;
    outline: none;
}

.main-info-block-today {
    position: relative;
    margin-top: 70px;
    width: 92px;
    height: 92px;
    /*background: #4848F4;*/
    margin-left: 24px;
    border-radius: 24px;
    float: left;
    margin-bottom: 50px;
    background: url("../img/main_blue_block.svg") center;
}

.main-text-info-block-today {
    font-family: GothamPro;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    color: white;
    font-weight: inherit;

}

.main-text-info-today-drink {
    font-family: GothamPro;
    font-size: 25px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-left: -8px;
}

.main-water-block-today {
    position: relative;
    margin-top: 70px;
    width: 92px;
    height: 92px;
    /*background: #4848F4;*/
    margin-left: 10px;
    border-radius: 24px;
    margin-right: 24px;
    float: left;
    margin-bottom: 50px;
    background: url("../img/main_blue_block.svg") center;
}

.main-text-water-block-today {
    font-family: GothamPro;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    color: white;
    font-weight: inherit;
}

.timer {
    font-family: GothamPro;
    font-size: 18px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-left: -12px;
}