.line9 {
    position: absolute;
    width: 22px;
    top: 175px;
}

.line8 {
    position: absolute;
    width: 11px;
    top: 198px;
}
.line7 {
    position: absolute;
    width: 11px;
    top: 221px;
}
.line6 {
    position: absolute;
    width: 11px;
    top: 244px;
}
.line5 {
    position: absolute;
    width: 11px;
    top: 267px;
}

.line4 {
    position: absolute;
    width: 22px;
    top: 290px;
}

.line3 {
    position: absolute;
    width: 11px;
    top: 313px;
}
.line2 {
    position: absolute;
    width: 11px;
    top: 336px;
}
.line1 {
    position: absolute;
    width: 11px;
    top: 359px;
}
.line0 {
    position: absolute;
    width: 11px;
    top: 382px;
}

.progress-bar-line {
    height: 3px;
    right: 10%;

    background: #4847F1;
    border-radius: 16px;
}