.line9 {
    position: absolute;
    width: 22px;
    top: 237px;
}

.line8 {
    position: absolute;
    width: 11px;
    top: 263px;
}
.line7 {
    position: absolute;
    width: 11px;
    top: 289px;
}
.line6 {
    position: absolute;
    width: 11px;
    top: 315px;
}
.line5 {
    position: absolute;
    width: 11px;
    top: 341px;
}

.line4 {
    position: absolute;
    width: 22px;
    top: 367px;
}

.line3 {
    position: absolute;
    width: 11px;
    top: 393px;
}
.line2 {
    position: absolute;
    width: 11px;
    top: 419px;
}
.line1 {
    position: absolute;
    width: 11px;
    top: 445px;
}
.line0 {
    position: absolute;
    width: 11px;
    top: 471px;
}

.progress-bar-line {
    height: 3px;
    right: 7%;

    background: #8a8c93;
    border-radius: 16px;
}