@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro.ttf");
}


h1, h2, p, img, button, img {
    margin: auto;
    text-align: center;
    font-family: GothamPro;
}

.start-body-container {
    overflow: auto;
    height: 100%;
    position: relative;
    background: url("../img/background_start_cloud_3.svg") 100% 0 no-repeat fixed,
    url("../img/background_start_cloud_4.svg") 80% 0 no-repeat fixed,
    url("../img/Ellipse-1.svg") 31% 90% no-repeat fixed,
    url("../img/Ellipse-2.svg") 35% 80% no-repeat fixed,
    url("../img/Ellipse-3.svg") 25% 70% no-repeat fixed,
    url("../img/Ellipse-4.svg") 48% 95% no-repeat fixed,
    url("../img/Ellipse-5.svg") 60% 78% no-repeat fixed,
    url("../img/Ellipse-6.svg") 62% 65% no-repeat fixed,
    url("../img/Ellipse-7.svg") 58% 60% no-repeat fixed,
    url("../img/Ellipse-8.svg") 68% 81% no-repeat fixed,
    url("../img/background_start_wave_1.svg") repeat-x fixed,
    url("../img/background_start_wave_2.svg") 100% 35% no-repeat fixed,
    url("../img/water.svg") 50% 35% no-repeat fixed,
    url("../img/Ellipse-9.svg") 25% 45% no-repeat fixed,
    url("../img/Ellipse-10.svg") 29% 35% no-repeat fixed,
    url("../img/Ellipse-11.svg") 60% 35% no-repeat fixed,
    url("../img/Ellipse-12.svg") 65% 30% no-repeat fixed,
    #F1F2FB;

    animation: wave 20s linear infinite;
    -webkit-animation: wave 20s linear infinite;

    background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover, 60%, 35%, auto, auto, auto, auto, cover;
    margin: 0;


}

@keyframes wave {
    from { background-position: 100% 0, 80% 0, 31% 90%, 35% 80%, 25% 70%, 48% 95%, 60% 78%, 62% 65%,58% 60%, 68% 81% , 0 0, 100% 23%, 50% 35%, 25% 45%, 29% 35%, 60% 35%, 65% 30%, 0 0;}
    to { background-position: 100% 0, 80% 0, 25% -10%, 40% -10%, 35% -10%, 53% -10%, 58% -10%, 68% -10%,63% -10%, 75% -10% , 0 0,100% 23%, 50% 35%, 25% -10%,29% -10%, 60% -10%, 65% -10%, 0 0;;}
}
@-webkit-keyframes wave {
    from { background-position: 100% 0, 80% 0, 31% 90%, 35% 80%, 25% 70%, 48% 95%, 60% 78%, 62% 65%,58% 60%, 68% 81% , 0 0, 100% 23%, 50% 35%, 25% 45%, 29% 35%, 60% 35%, 65% 30%, 0 0;}
    to { background-position: 100% 0, 80% 0, 25% -10%, 40% -10%, 35% -10%, 53% -10%, 58% -10%, 68% -10%,63% -10%, 75% -10% , 0 0,100% 23%, 50% 35%, 25% -10%,29% -10%, 60% -10%, 65% -10%, 0 0;;}
}



.start-container-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.start-user-name {
    margin-top: 84px;
    color: #4848F4;
    font-family: GothamPro;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
}

.start-addition-first {
    color: rgb(65, 61, 61);
    margin-top: 10px;
    font-family: GothamPro;
    line-height: 22px;
    font-size: 20px;
    text-align: center;
}

.start-user-photo-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.start-water-drop {
    position: absolute;
    left: 50%;
    margin-left: -86px;
    bottom: 0;
}

.start-user-photo {
    position: absolute;
    left: 50%;
    margin-left: -62.3px;
    bottom: 0;
    margin-bottom: 25px;
    border-radius: 50%; /* Радиус скругления */
    max-width: 125px;
    width: 45%;
    margin-top: 100px;
}


.start-addition-second {
    color: white;
    width: 40%;
    margin-top: 20px;
    font-family: GothamPro;
    line-height: 22px;
    font-size: 18px; /*было 15, но тут 18 т к на экарне ноута слишком мелко*/
    text-align: center;
}

.start-button-start {
    font-family: GothamPro;
    line-height: 57px; /*спросить*/
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 56px;
    background: rgba(5, 9, 7, 0);
    width: 246px;
    height: 64px;
    cursor: pointer;
    margin: 19px auto auto;
    /*padding-bottom: 50px;*/
    margin-bottom: 50px;
}
